<h2>Carrinho de Compras</h2>
<span *ngIf="vazio">Seu carrinho está vazio...</span>
<table class="table" *ngIf="itens?.length > 0">
    <thead>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Total</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of itens">
            <td>
                <img [src]="item?.foto" style="width: 70px; vertical-align: middle;">
                {{item.nome}}
            </td>
            <td>{{item.preco | currency: 'BRL'}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="diminuir(item)">-</button>
                <span class="px-4">{{item.quantidade}}</span>
                <button type="button" class="btn btn-primary" (click)="aumentar(item)">+</button>
            </td>
            <td>{{item.quantidade * item.preco | currency: 'BRL'}}</td>
        </tr>
        <tr class="table-active">
            <td colspan="3"><strong>TOTAL:</strong></td>
            <td>
                <strong>{{total | currency: 'BRL'}}</strong>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" *ngIf="!vazio" class="btn btn-primary" (click)="enviar()">Enviar Pedido</button>